apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ aws_k8s_url }}
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
users:
- name: default
  user:
    token: {{ aws_bot_token }}