services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert.rules.yml:/etc/prometheus/alert.rules.yml
#       - /var/lib/prometheus:/prometheus # AWS용
      - ./data/prometheus:/prometheus # 로컬용
    ports:
      - "9090:9090"                     # Bastion 경유 UI 접근용
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=15d"
      - "--storage.tsdb.retention.size=10GB"
      - "--web.enable-lifecycle"        # /-/reload 허용
    restart: always

  grafana:
    image: grafana/grafana
    volumes:
#       - /var/lib/grafana:/var/lib/grafana # AWS용
      - ./data/grafana:/var/lib/grafana # 로컬용
      - ./grafana:/etc/grafana/provisioning
    ports:
      - "3000:3000"                     # Bastion 경유 UI 접근용
    restart: always

  alertmanager:
    image: prom/alertmanager
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "9093:9093"                     # Bastion 경유 UI 접근용
    restart: always
