# 💡 'version' 속성은 최신 Docker Compose에서 더 이상 필요하지 않으므로 제거합니다.

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    extra_hosts:
      - "gcp-metrics.app.bucheongoyangijanggun.com:{{ gcp_ip }}"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert.rules.yml:/etc/prometheus/alert.rules.yml
      - {{ storage_setup_enabled | ternary('/var/lib/prometheus', './data/prometheus') }}:/prometheus
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=15d"
      - "--web.enable-lifecycle"
    networks:
      - monitoring-network # 💡 네트워크 추가
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
      - alertmanager
    environment: # 익명 로그인 권한 부여 
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_NAME=Main Org. 
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer    
    volumes:
      - {{ storage_setup_enabled | ternary('/var/lib/grafana', './data/grafana') }}:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    networks:
      - monitoring-network # 💡 네트워크 추가
    restart: always

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "9093:9093"
    networks:
      - monitoring-network # 💡 네트워크 추가
    restart: always

  discord-bot:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./configs/kubeconfig-gcp-main.yaml:/root/.kube/config-gcp
      - ./configs/kubeconfig-aws-sub.yaml:/root/.kube/config-aws
      - ./configs:/root/.kube/
    image: jeongseungmin/chilseongpa-bot_dockerhub:latest
    container_name: chilseongpa-bot
    restart: always
    environment:
      - DISCORD_BOT_TOKEN={{ discord_bot_token }}
      - DISCORD_CHANNEL_ID={{ discord_channel_id }}
      - GEMINI_API_KEY={{ gemini_api_key }}
      - GRAFANA_URL=https://{{ grafana_domain }}
      - KUBECONFIG_GCP=/root/.kube/config-gcp
      - KUBECONFIG_AWS=/root/.kube/config-aws
    ports:
      - "5000:5000"
    networks:
      - monitoring-network
    depends_on:
      - alertmanager # 💡 웹훅을 받을 대상인 alertmanager가 먼저 뜨도록 설정

networks:
  monitoring-network:
    # 💡 external: true를 제거하여 컴포즈가 네트워크를 직접 만들게 합니다.
    driver: bridge